body {
  background-color: rgb(110, 50, 50);
  color: rgb(173, 128, 46);
}

.search-form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#query {
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 5px;
  background-color: peachpuff;
  color: brown;
}

.load-more {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 10px;
  background-color: rgb(133, 81, 36);
  color: rgb(70, 51, 51);
}

.hidden {
  display: none;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 10px;
  list-style: none;
}
.stats {
  display: flex;
  padding-right: 12px;
}

.stats-item {
  max-width: 100%;
  margin-right: 15px;
}